<!DOCTYPE html>
<html>
  <head>
    <title>Worlds best URL shortener</title>
  </head>
  <body style="margin-left:20px;">
    <h3>Shorten those long unsightly URLs</h3>
    <form action="/outputpage" method="post">
    Enter URL:
    <input type="text" name="longurl"></input>  <input type="submit" value="Shorten!">
    </br> </br> 
    [optional] Custom URL <input type="text" name="customstring"></input></br>
    &nbsp;&nbsp;<i>Entering <b>something</b> in the box above will shorten your URL to <b>app.dalanm.com/s/something</b>.</br>
    &nbsp;&nbsp;if the string you enter is available, it'll get allotted to the URL you entered, else you'll get a random string.</i>

  </form>
</p>
  </body>
</html>