<!DOCTYPE html>
<html>
  <head>
    <title>Sexy Timeline generator</title>
  </head>
  <body style="margin-left:20px;">
    <h3>Returning User - Type Username below to edit timeline</h3>
    <form action="/treturning" method="post" name="ReturningUser">
    Username:
    <input type="text" name="username"></input>
    <input type="submit" value="Sign In">
    </form>

  </br>
    <h3>New user - Pick a username & a password</h3>
    <form action="/tnew" method="post" name="NewUser">
    Username:
    <input type="text" name="username"></input>
    Password:
    <input type="text" name="password"></input>
    <input type="submit" value="Try">
    </br></br>
    (This username will also be used to show your timeline, don't pick something embarassing!)
    </form>

    </br>
  </body>
</html>